header{
background-color:gray;
padding-bottom:1%;
width:100%;
text-align:center;
position:absolute;
top:0;
left:0;
}

header ul li{

display:inline-block;
float:right;
width:10%;

}
header ul li a{
text-decoration:none;
color:white;
}
header ul li a:hover{
color:#c9c3c3;

}

a.btn{
text-decoration:none;
background-color:gray;
color:white;
padding:8px 18px;
border-radius:20px;
margin:6px;
position:relative;
left:700px ;
top:70px;

}
.btn:hover{
background-color:#696969;
color:white;
padding:10px 23px;

}

 h1{
      font-size:40px;
background-position:top-center;
text-align:center;
}
#first{
    position:relative;
top:50px;

}
#first h1{
position:left;
}


.b{

width:25%;
margin-left:8%;
float:left;
margin-right:50px;
}
.im{

margin:0px;
width:0%;
float:left;
position:relative;
top:50px;
}
.im img{
border-radius:50%;
border:2px;

}
.close::after{
content:"";
display:block;
clear:both;

}


div1{
width:20%;
background-position:top-center;
text-align:center;
margin-left:80px;
margin-bottom:10px;
margin-right:10px;
margin-top:10px;
float:left;
border:2px solid gray;
box-shadow:0 0 20px 0px;
}
div2{
width:20%;
background-position:top-center;
text-align:center;
margin:10px;
float:left;
border:2px solid gray;
box-shadow:0 0 20px 0px;
}
div3{
width:20%;
background-position:top-center;
text-align:center;
margin:10px;
float:left;
border:2px solid gray;
box-shadow:0 0 20px 0px;

}
div4{
width:20%;
background-position:top-center;
text-align:center;
margin:10px;
float:left;
border:2px solid gray;
box-shadow:0 0 20px 0px;

}


.close2::after{
content:"";
display:block;
clear:both;

}

*{
box-sizing:border-box;
}
.team-area{
display:flex;
width:90%;
justify-content:space-around;
margin-left:5%;

}
.single-team{
width:355px;
height:300px;
padding:24px;
background:#fff;
position:relative;
display:flex;
align-items:flex-end;
transition:.6s ease-out;
box-shadow:0 10px 10px rgba(0,0,0,0.5);
}
.single-team:hover{
transform:translateY(15px);
}
.single-team:hover:before{
opacity:1;
}
.single-team:hover .team-text{
opacity:1;
transform:translateY(0);
}
.single-team:before{
content:'';
position:absolute;
top:0;
left:0;
display:block;
width:100%;
height:100%;
background:linear-gradient(to top,#000, transparent);
z-index:2;
transition:0.5s;
opacity:0;
}
.single-team img{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;

}
.single-team .team-text{
position:relative;
z-index:3;
color:#fff;
opacity:0;
transform:translateY(60px);
transition:0.5s;

}
.team-text h3{
    font-family:cursive;
}




footer{
background-color:#828282;
color:white;
}
.end{
font-size:25px;
    padding-left:3%;
padding-bottom:3%;
}
